/* !    import other CSS    ! */
@import url("./TypePage.css");
@import url("./HomePage.css");
@import url("./DetailPage.css");
@import url("./TypePage.css");
@import url("./Header.css");
@import url("./AboutUsPage.css");

/* !    import fonts    ! */

@font-face {
  font-family: "Inter";
  src: url("./src/style/font/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("./src/style/fonts/Roboto-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Pokemon;
  src: url("/src/style/font/pokemon-solid-font/PokemonSolidNormal-xyWR.ttf");
}

@font-face {
  font-family: Pokemon-Hollow;
  src: url("/src/style/font/pokemon-hollow-font/PokemonHollowNormal-pyPZ.ttf");
}

/* !    import colors    ! */
/* müssen wir nicht verwenden, aber lies sich einfach generieren und haben ist besser als brauchen, wenn wir das doch so wie in der vorlage machen wollen */
:root {
  --color-BG-light: #ccdadd;
  --color-BG-dark: #2a3964;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #ebebeb;
  --color-gray-dark: #909090;
  --color-bug: #3bba00;
  --color-dark: #1c1c1c;
  --color-dragon: #01458a;
  --color-electric: #ffe600;
  --color-fairy: #ffc2f9;
  --color-fighting: #e40202;
  --color-fire: #ff9900;
  --color-flying: #89abb5;
  --color-ghost: #5a1e63;
  --color-grass: #56931c;
  --color-ground: #965a00;
  --color-ice: #69d2ff;
  --color-normal: #b3b3b3;
  --color-shadow: #6fe000;
  --color-poison: #ac00ae;
  --color-psychic: #ff81f2;
  --color-rock: #e1b237;
  --color-steel: #2a4950;
  --color-water: #00a0e4;
  --color-poke-yellow: #ffcb03;
  --color-poke-blue: #2d72b8;
}

/* #######   Allgemeine Styles   ####### */
:root {
  font-family: "Roboto-Black";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Inter;
  overflow-x: hidden;
}

.theme {
  background-color: var(--color-BG-light);
  padding: 1rem;
  min-height: 100%;
}
.theme.theme--dark {
  background-color: var(--color-BG-dark);
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #b3b3b300;
}
